$GtOdOD_red: #EF404A;
$GtOdOD_pink: #F2728C;
$GtOdOD_yellow: #FFD400;
$GtOdOD_green: #80B463;
$GtOdOD_blue: #27AAE1;
$GtOdOD_turquoise: #4EB8B9;
$GtOdOD_darkturquoise: #005666;
$GtOdOD_purple: #9E7EB9;
$GtOdOD_gray: #A7A9AC;
$GtOdOD_orange: #F79552;
$GtOdOD_lightpink: #F9C0C7;
$GtOdOD_mustard: #FFCC4E;
$GtOdOD_lime: #D5E05B;
$GtOdOD_skyblue: #81D3EB;
$GtOdOD_mint: #B0DFDB;
$GtOdOD_lightpurple: #BBB8DC;
$GtOdOD_white: #FFFFFF;
$GtOdOD_black: #000000;

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

div.Logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;

    span.Good {
        font-weight: 900;
        font-size: 100px;
        color: $GtOdOD_mint;
    }

    span.ToDo {
        font-weight: 700;
        font-size: 86px;
        color: $GtOdOD_turquoise;
    }
    p {
        margin-top: -15px;
        font-size: 20px;
        font-weight: 300;
        color: $GtOdOD_darkturquoise;
    }

    p#logout {
        margin: 0;
    }

    p#logout:hover {
        text-decoration: underline;
    }
}

div.Login, div.SignUp, div.AddCategory {
    display: flex;
    flex-direction: column;
    align-items: center;

    div.Title {
        padding: 10px 0;
        h1 {
            font-weight: 700;
            color: $GtOdOD_turquoise;
        }
    }

    div.InputArea {
        display: flex;
        flex-direction: column;
        align-content: space-around;
    
        input {
            width: 300px;
        }
    }

    a {
        color: $GtOdOD_darkturquoise;
        font-weight: 500;
    }

    a:hover {
        color: $GtOdOD_turquoise;
    }

    #login-btn, #signup-btn {
        width: 300px;
        height: 40px;
        margin: 10px 0;
    }
}

div.ToDoList {
    div.InputArea {
        div.InputWrapper {
            div.CategoryWrapper {
                div.SelectWrapper {
                    height: 100%;
                    width: 100%;
                    
                    li:last-child() {
                        span {
                            margin-top: -10px;
                        }
                    }
                }
            }
            div.ToDoTxtWrapper {
                input {
                    height: 30px;
                }
            }
            div.BtnWrapper {
                button {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

div.AddCategory {
 
    div.Color {
        padding: 30px 0;
        h2 {
            font-weight: 500;
            color: $GtOdOD_darkturquoise;
            padding: 10px 0;
        }
        div.CtgPalette {
            width: 300px;
            height: 100px;
            // position: relative;
            
            div {
                width: 50px;
                height: 50px;
                float: left;
                border: 1px solid black;
                border-radius: 100px;
                box-sizing: border-box;
            }
    
            div:nth-child(1){
                background-color: $GtOdOD_red;
            }
            div:nth-child(2){
                background-color: $GtOdOD_pink;
            }
            div:nth-child(3){
                background-color: $GtOdOD_orange;
            }
            div:nth-child(4){
                background-color: $GtOdOD_yellow;
            }
            div:nth-child(5){
                background-color: $GtOdOD_lime;
            }
            div:nth-child(6){
                background-color: $GtOdOD_green;
            }
            div:nth-child(7){
                background-color: $GtOdOD_skyblue;
            }
            div:nth-child(8){
                background-color: $GtOdOD_blue;
            }
            div:nth-child(9){
                background-color: $GtOdOD_purple;
            }
            div:nth-child(10){
                background-color: $GtOdOD_lightpurple;
            }
            div:nth-child(11){
                background-color: $GtOdOD_gray;
            }
            div:nth-child(12){
                background-color: $GtOdOD_black;
            }

            div:nth-child(1):hover, div:nth-child(2):hover,
            div:nth-child(3):hover, div:nth-child(4):hover,
            div:nth-child(5):hover, div:nth-child(6):hover,
            div:nth-child(7):hover, div:nth-child(8):hover,
            div:nth-child(9):hover, div:nth-child(10):hover,
            div:nth-child(11):hover, div:nth-child(12):hover {
                border: 3px solid black;
            }

            div.select {
                border: 3px solid black;
            }
        }
    }
}
div.Footer {
    background-color: $GtOdOD_mint;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100px;
    position: absolute;
    width: 100%;
    bottom: 0;

    p {
        font-size: 16px;
        font-weight: 300;
        color: $GtOdOD_darkturquoise;
    }
    p.link {
        a {
            text-decoration: none;
            color: $GtOdOD_darkturquoise;
            margin: 0 5px;
        }
        a:hover {
            font-weight: 400;
        }
    }
}

.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
  /* modal창 */
  .modalBody {
    position: absolute;
    width: 300px;
    height: 500px;
    padding: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  }
   
  #modalCloseBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    color: rgba(0, 0, 0, 0.7);
    background-color: transparent;
    font-size: 20px;
  }
   
  #modalCloseBtn:hover {
    cursor: pointer;
  }