$GtOdOD_red: #EF404A;
$GtOdOD_pink: #F2728C;
$GtOdOD_yellow: #FFD400;
$GtOdOD_green: #80B463;
$GtOdOD_blue: #27AAE1;
$GtOdOD_turquoise: #4EB8B9;
$GtOdOD_purple: #9E7EB9;
$GtOdOD_gray: #A7A9AC;
$GtOdOD_orange: #F79552;
$GtOdOD_lightpink: #F9C0C7;
$GtOdOD_mustard: #FFCC4E;
$GtOdOD_lime: #D5E05B;
$GtOdOD_skyblue: #81D3EB;
$GtOdOD_mint: #B0DFDB;
$GtOdOD_lightpurple: #BBB8DC;
$GtOdOD_white: #FFFFFF;
$GtOdOD_black: #000000;