$GtOdOD_red: #EF404A;
$GtOdOD_pink: #F2728C;
$GtOdOD_yellow: #FFD400;
$GtOdOD_green: #80B463;
$GtOdOD_blue: #27AAE1;
$GtOdOD_turquoise: #4EB8B9;
$GtOdOD_darkturquoise: #005666;
$GtOdOD_purple: #9E7EB9;
$GtOdOD_gray: #A7A9AC;
$GtOdOD_orange: #F79552;
$GtOdOD_lightpink: #F9C0C7;
$GtOdOD_mustard: #FFCC4E;
$GtOdOD_lime: #D5E05B;
$GtOdOD_skyblue: #81D3EB;
$GtOdOD_mint: #B0DFDB;
$GtOdOD_lightpurple: #BBB8DC;
$GtOdOD_white: #FFFFFF;
$GtOdOD_black: #000000;

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

div.Logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;

    span.Good {
        font-weight: 900;
        font-size: 100px;
        color: $GtOdOD_mint;
    }

    span.ToDo {
        font-weight: 700;
        font-size: 86px;
        color: $GtOdOD_turquoise;
    }
    p {
        margin-top: -15px;
        font-size: 20px;
        font-weight: 300;
        color: $GtOdOD_darkturquoise;
    }
}

div.Login, div.SignUp {
    display: flex;
    flex-direction: column;
    align-items: center;

    div.Title {
        padding: 10px 0;
        h1 {
            font-weight: 700;
            color: $GtOdOD_turquoise;
        }
    }

    div.InputArea {
        display: flex;
        flex-direction: column;
        align-content: space-around;
    
        input {
            width: 300px;
        }
    }

    a {
        color: $GtOdOD_darkturquoise;
        font-weight: 500;
    }

    a:hover {
        color: $GtOdOD_turquoise;
    }

    #login-btn, #signup-btn {
        width: 300px;
        height: 40px;
        margin: 10px 0;
    }
}

div.Footer {
    background-color: $GtOdOD_mint;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100px;
    position: absolute;
    width: 100%;
    bottom: 0;

    p {
        font-size: 16px;
        font-weight: 300;
        color: $GtOdOD_darkturquoise;
    }
    p.link {
        a {
            text-decoration: none;
            color: $GtOdOD_darkturquoise;
            margin: 0 5px;
        }
        a:hover {
            font-weight: 400;
        }
    }
}
